@{
    ViewData["Title"] = "Index";
}

<div>
    <h1>Bienvenido al ahorcado!!!!!!!!!</h1>
    <p>Letras utilizadas:@ViewBag.
    <form action='@Url.Action("IngresarLetras","Index")'>
    <input type="text" name="letra" placeholder="Ingrese la letra"/><br/>
     <input type="text" name="palabra" placeholder="Ingrese la palabra"/><br/>
    </form>
</div>
